<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medicroute"
        tools:targetApi="31">
        <activity
            android:name=".ui.medico.HistorialAtencionesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paciente.HistorialPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paciente.DetailDiagnosticoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paciente.PerfilPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medico.PerfilMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medico.EsperaMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menus.OpcionesAdministradorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.administrador.DetailMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.administrador.MedicosPendientesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.administrador.MedicosActivosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medico.DetailSolicitudActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paciente.MapRutaConsultorioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paciente.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paciente.MapPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medico.DetailPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medico.SolicitudesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menus.TipoUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignupConsultorioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignupUsuarioActivity"
            android:exported="false"
            android:parentActivityName=".ui.LoginActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBy5NrbFjewXYzHMAIijLc1kaWyvmTOE_U" />
    </application>

</manifest>